<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
  <servlet>
    <display-name>Guanxi WAYF Service</display-name>
    <servlet-name>WAYF</servlet-name>
    <servlet-class>org.guanxi.wayf.WAYF</servlet-class>

    <!-- Where the sites file is stored -->
    <init-param>
      <param-name>sitesFile</param-name>
      <param-value>/WEB-INF/config/wayf.xml</param-value>
    </init-param>
    <!-- The metadata manager to use -->
    <init-param>
      <param-name>metadataManager</param-name>
      <param-value>file</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>WAYF</servlet-name>
    <url-pattern>/WAYF</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<display-name>Guanxi DS Service</display-name>
    <servlet-name>DS</servlet-name>
    <servlet-class>org.guanxi.wayf.DS</servlet-class>

    <!-- Where the sites file is stored -->
    <init-param>
      <param-name>sitesFile</param-name>
      <param-value>/WEB-INF/config/wayf.xml</param-value>
    </init-param>
    <!-- The metadata manager to use -->
    <init-param>
      <param-name>metadataManager</param-name>
      <param-value>file</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>DS</servlet-name>
    <url-pattern>/DS</url-pattern>
  </servlet-mapping>
</web-app>
